<!DOCTYPE html>

{{ $.Scratch.Delete "bg_color" }}<!---->
{{ $.Scratch.Delete "social_list" }}<!---->
{{ $.Scratch.Delete "avatar_url" }}<!---->

<!-- bg_color -->
{{ $color_map := dict "linen" "#faf6f1" "wheat" "#f1efe1" "gray" "#fbfbfb" "light" "#fff" }}<!---->
{{ $.Scratch.Set "bg_color" (index $color_map (site.Params.color | default (print "linen"))) }}<!---->

<!-- social_list -->
{{ $social_params := slice "twitter" "github" "instagram" "rss" }}<!---->
{{ range $social_params }}<!---->
{{ if isset site.Params . }}<!---->
{{ $.Scratch.Add "social_list" (slice .) }}<!---->
{{ end }}<!---->
{{ end }}<!---->

<!-- avatar_url -->
{{ if site.Params.avatar }}<!---->
{{ if in site.Params.avatar "http" }}<!---->
{{ $.Scratch.Set "avatar_url" site.Params.avatar }}<!---->
{{ else }}<!---->
{{ $md5 := (md5 site.Params.avatar) }}<!---->
{{ $url := print "/imgs/logo.png" }}<!---->
{{ $.Scratch.Set "avatar_url" $url }}<!---->
{{ end }}<!---->
{{ end }}<!---->

<html
  class="not-ready text-sm lg:text-base"
  style="--bg: {{ $.Scratch.Get `bg_color` }}"
  lang="{{ site.LanguageCode }}"
>
  {{ partial "head.html" . }}
  <body class="text-black duration-200 ease-out dark:text-white">
    {{ partial "header.html" . }}

    <!-- pb-32 -->
    <main
      class="pb-custom prose prose-neutral relative mx-auto min-h-[calc(100%-10rem)] max-w-3xl px-8 pt-20 dark:prose-invert"
      style="z-index: 1; padding-top: 0;"
      id="main"
    >
      {{ block "main" . }}{{ end }}
    </main>

    <div class="book__list">
      <h2 class="book__list_title">- Book Lists -</h2>
      <ul>
        <li>1. Node.js / Python / Docker</li>
        <li>2. Express / Koa2 / Egg</li>
        <li>3. Node爬虫 / chrome扩展</li>
        <li>4. Vue3.3 / TypeScript5.0</li>
        <li>5. React1.8</li>
        <li>6. Angular14.0.5</li>
        <li>7. MySQL / MongDB</li>
        <li>8. Uniapp / Taro</li>
        <li>9. 异常监控并上报</li>
        <li>10. 自动化测试 / 单元测试</li>
        <li>11. Vite / Webpack / Babel</li>
        <li>12. 数据可视化Echats / 大屏</li>
        <li>13. 工程化 / 自动化部署</li>
        <li>14. Scss / TailwindCss</li>
        <li>15. ElementUI / Antd Design</li>
      </ul>
      <!-- <div class="book__list_block"></div> -->
    </div>

    {{ partial "footer.html" . }}

    <!-- <script>
      if(location.pathname === '/') {
        document.querySelector('.book__list').classList.remove('hidden')
      } else {
        document.querySelector('.book__list').classList.add('hidden')
      }
    </script> -->
  </body>
</html>
